---
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  description: string;
  linkText?: string;
  linkHref?: string;
  class?: string;
}
const { title, description, linkText, linkHref, class: className } = Astro.props;
---

<section class:list={cn('mt-32', className)}>
  <div
    class="bg-background ring-border mx-auto max-w-2xl rounded-3xl px-6 py-16 shadow-lg ring sm:p-8 lg:mx-0 lg:max-w-none lg:py-20 xl:px-20"
  >
    <h2 class="text-foreground text-4xl font-semibold tracking-tight text-pretty sm:text-5xl">
      {title}
    </h2>

    <p class="text-muted-foreground mt-6 text-lg/8 text-pretty">{description}</p>

    {
      linkText && linkHref ? (
        <div class="mt-10">
          <a href={linkHref} class="text-primary hover:text-primary/60 text-sm/6 font-semibold">
            {linkText} <span aria-hidden="true">→</span>
          </a>
        </div>
      ) : null
    }
  </div>
</section>
