---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="flex flex-col">
  <dt class="text-foreground text-base/7 font-semibold">
    <div
      class="bg-primary text-primary-foreground mb-6 flex size-10 items-center justify-center rounded-md"
    >
      <slot name="icon" />
    </div>

    <h3>{title}</h3>
  </dt>

  <dd class="text-secondary-foreground mt-1 flex flex-auto flex-col text-base/7">
    {description}
  </dd>
</div>
