---
import HeroContent from './hero-content.astro';
import HeroImage from './hero-image.astro';
---

<div class="from-secondary relative isolate overflow-hidden bg-gradient-to-b">
  <div
    aria-hidden="true"
    class="bg-background absolute inset-y-0 right-1/2 -z-10 -me-96 w-[200%] origin-top-right -skew-x-[30deg] shadow-xl sm:-me-80 lg:-me-96"
  >
  </div>

  <div class="container flex min-h-dvh items-center py-32 sm:py-40">
    <div
      class="mx-auto w-full max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-8 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
    >
      <HeroContent />
      <HeroImage />
    </div>
  </div>

  <div class="from-background absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t sm:h-32">
  </div>
</div>
