---
import AboutAssociation from '@/components/astro/about/about-association.astro';
import ObjectivesListSection from '@/components/astro/about/objectives-list.astro';
import CardSection from '@/components/astro/ui/card-section.astro';

import Background from '@/layouts/background.astro';
import MainLayout from '@/layouts/main-layout.astro';

const title = 'Ligue des Alternants | À propos';
const description =
  "Découvrez la Ligue des Alternants, l'association qui valorise et accompagne les étudiants en alternance en France.";
---

<MainLayout title={title} description={description}>
  <div class="page">
    <Background />

    <div class="container">
      <AboutAssociation />
      <ObjectivesListSection />
      <CardSection
        title="Rejoindre la ligue"
        description="Que vous soyez étudiant, formateur, employeur ou simplement curieux, vous pouvez nous rejoindre pour contribuer à faire grandir le mouvement."
        linkHref="/rejoindre-la-ligue"
        linkText="Participer à l'aventure"
      />
    </div>
  </div>
</MainLayout>
