---
import { Activity } from '@lucide/astro';

import ItemList from '@/components/astro/ui/item-list/index.astro';
import Section from '../ui/section.astro';

const objectives = [
  {
    title: 'Représentation',
    description: 'Les alternants sont représentés auprès des institutions et du public.',
  },
  {
    title: 'Réseau national',
    description: "Un réseau national favorise l'entraide et le partage d'expérience.",
  },
  {
    title: 'Outils',
    description: 'Des outils pratiques et utiles sont fournis aux alternants.',
  },
  {
    title: 'Partenariats',
    description:
      'Des partenariats sont établis avec des entreprises et établissements de formation.',
  },
  {
    title: 'Animation',
    description: 'La communauté est animée régulièrement sur les réseaux sociaux.',
  },
];
---

<Section title="Nos objectifs">
  <ItemList items={objectives} Icon={Activity} class="text-secondary-foreground" />
</Section>
