---
import { socialLinks } from './data';

const year = new Date().getFullYear();
---

<footer class="bg-background">
  <div
    class="mx-auto max-w-7xl justify-center px-6 py-12 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="order-2 flex justify-center gap-x-6">
      {
        socialLinks.map(({ name, url, icon: Icon }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-muted-foreground hover:text-accent-foreground"
          >
            <span class="sr-only">{name}</span>
            <Icon />
          </a>
        ))
      }
    </div>

    <p class="text-muted-foreground mt-8 text-center text-sm/6 md:order-1 md:mt-0">
      © {year} Ligue des Alternants - Tous droits réservés.
    </p>
  </div>
</footer>
